/* Typography Utilities */
.u-h1 {
  font-family: var(--font-family-narrow);
  font-size: var(--font-size-h1);
  line-height: 0.8em;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  font-weight: var(--font-weight-semibold);
}

.u-h2 {
  font-family: var(--font-family-normal);
  font-size: var(--font-size-h2);
  line-height: 1.1em;
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-medium);
  text-wrap: pretty;
}

.u-h3 {
  font-family: var(--font-family-normal);
  font-size: var(--font-size-h3);
  line-height: 1.2em;
  letter-spacing: -0.03em;
  font-weight: var(--font-weight-medium);
  text-wrap: pretty;
}

.u-p1 {
  font-family: var(--font-family-normal);
  font-size: var(--font-size-p1);
  line-height: 1.35em;
  letter-spacing: 0;
}

.u-c1 {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-c1);
  line-height: 1em;
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
  letter-spacing: -0.01em;
}

.u-f1 {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-f1);
  line-height: 1em;
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
  letter-spacing: 0.02em;
}

.u-f2 {
  font-family: var(--font-family-mono);
  font-size: var(--font-size-f2);
  line-height: 1em;
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
  letter-spacing: -0.01em;
}

.u-container {
  padding-left: max(var(--grid-margin), env(safe-area-inset-left));
  padding-right: max(var(--grid-margin), env(safe-area-inset-right));
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.u-color-gray {
  color: color-mix(in srgb, var(--color) 57%, transparent);
}

.u-screen-reader-text {
  position: absolute !important;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  border: 0;
}
